@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* index.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #153d5d;
  background-color: #f9fafb;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #153d5d;
}
button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}
p, span, td, th {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}




.scrollbar-custom {
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #153d5d transparent; /* Firefox thumb/track */
  overflow-y: auto;
}

/* Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #153d5d;
  border-radius: 9999px;
  opacity: 0; /* hide by default */
  transition: opacity 0.3s;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* show when hovering */
}

html, body, #root {
  height: 100%;
}
